/* reset default browser styles */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    background-color: ghostwhite;
}

#img-container img {
    width: 35vw;
    height: 100vh;
    position: fixed;
}

#logo-container {
    /* opacity property was being applied to child text as well, so I eliminated that*/
    /* only changed opacity of background */
    background-color: rgba(0, 0, 0, 0.5);
    width: 35vw;
    height: 20vh;
    position: fixed;
    margin-top: 180px;
}

#logo-container h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Norse-gothic', sans-serif;
    /* 1em is 16px */
    font-size: 4em;
}

@font-face {
    font-family: 'Norse-gothic';
    src: url("/assets/Norse-Bold.otf");
}

div p {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1em;
    margin-left: 500px;
    margin-top: 150px;
    position: fixed;
    line-height: 1.3em;
}

#form {
    background-color: rgb(255, 255, 255);
    margin-left: 461px;
    margin-top: 310px;
    position: fixed;
}

form {
    /*relative to its parent */
    margin-left: 1rem;
    padding: 20px;
    font-family: monospace;
    box-shadow: 5px 5px 5px rgb(188, 186, 186);
}

form legend {
    font-weight: bolder;
    font-size: 1.2em;
    margin-bottom: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
    display: inline-block;
    width: 40%;
}

input {
    margin-top: 2px;
    margin-bottom: 15px;
    display: block;
}

label {
    font-size: 0.9em;
}

input:focus {
    color: rgb(0, 0, 0);
}

button {
    margin-top: 570px;
    margin-left: 500px;
    padding: 15px;
    border-radius: 10px;
    width: 13%;
    text-align: center;
    position: fixed;
    color: azure;
    background-color: rgb(93, 91, 91);
    font-size: 16px;
}

button:hover{
    background-color: rgb(66, 65, 65);
}